.container{
  font-family: 'Imprima';
  font-size: 12px;
  position: relative;
}

#title{
  padding-top:10px;
  font-size:28px;
  font-family:'Cantata One';
}

#description{
  font-size:17px;
  font-family:'Cantata One';
}

#legend{
  font-size: 12px;
  font-family: "Imprima";
}

#tooltip{
  position: absolute;
  font-family: 'Imprima';
  font-size: 15px;
  width: auto;
  display:none;
  padding: 10px;
  border-radius: 10px;
  color:white;
  background-color: rgba(0,0,0, 0.6);
}

#d3-dropdown{
  position: absolute;
  top: 90px;
  left: 750px;
}

text{
  font-family: 'Imprima';
  font-size: 12px;
}
